* {
    all: unset; //Unsets everything so you can style everything from scratch
}

// Variable Color's
$background: #1A1B26;
$foreground: #A9B1D6;

$black: #24283B;
$gray: #565F89;
$red: #F7768E;
$green: #73DACA;
$yellow: #E0AF68;
$blue: #7AA2F7;
$magenta: #BB9AF7;
$cyan: #7DCFFF;
$white: $foreground;


//Global Styles
.bar {
    color: #b0b4bc;
    padding: 4px;
    margin-left: 10px;
    margin-right: 10px;
}

// Styles on classes (see eww.yuck for more information)

.sidestuff {
    color: white;
    border-radius: 2rem;
    padding-left: 10px;
    padding-right: 20px;
    background-color: rgba(25, 25, 25, 1);
}

.sidestuff slider {
    all: unset;
    color: #ffd5cd;
}

.metric scale trough highlight {
    all: unset;
    color: #000000;
    border-radius: 10px;
    background-color: #D35D6E;
}

.metric scale trough {
    all: unset;
    background-color: #4e4e4e;
    border-radius: 50px;
    min-height: 3px;
    min-width: 50px;
    margin-left: 10px;
    margin-right: 20px;
}

.metric scale trough highlight {
    all: unset;
    background-color: #D35D6E;
    color: #000000;
    border-radius: 10px;
}

.label-ram {
    font-size: large;
}

.timebar {
    color: white;
    border-radius: 2rem;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(25, 25, 25, 1);
}

.music {
    border-radius: 2rem;
    padding-left: 10px;
    padding-right: 20px;
    color: white;
    background-color: rgba(25, 25, 25, 1);

}

.workspaces {
    padding: 0.25rem;
    border-radius: 2rem;
    background-color: rgba(25, 25, 25, 1);
}

.workspace-entry {
    // min-width: 70px;
    color: white;
}

.workspace-entry.current {
    // margin: 0.25em;
    border-radius: 100%;
    color: black;
    background-color: rgb(225, 225, 225);
}


// Volume bar
.control {
    padding: .5rem;
    font-family: Material Icons;
    font-size: 1.6em;
    background-color: $black;
    border-radius: 5px;
}

.volbar trough highlight {
    background-color: black;
    border-radius: 5px;
}

.reveal-vol {
    margin: 0.25rem;
}

.powerbtn {
    border: 1px solid red;
}

.pwr-btn {
    border: 1px solid green;
}

// floating box which will have volume and stuff
.powerbox {
    border-radius: 0.25rem;
    background-color: black;
}
