* {
    all: unset; //Unsets everything so you can style everything from scratch
}

//Global Styles
.bar {
    // border-radius: 2rem;
    background-color: rgba(40, 40, 40, 1);
    color: #b0b4bc;
    // padding: 4px;
    // margin-left: 10px;
    // margin-right: 10px;
}

// Styles on classes (see eww.yuck for more information)

.sidestuff {
    border-radius: 2rem;
    padding-left: 10px;
    padding-right: 20px;
    color: white;
    background-color: rgba(15, 15, 15, 1);
}

.sidestuff slider {
    all: unset;
    color: #ffd5cd;
}

.metric scale trough highlight {
    all: unset;
    background-color: #D35D6E;
    color: #000000;
    border-radius: 10px;
}

.metric scale trough {
    all: unset;
    background-color: #4e4e4e;
    border-radius: 50px;
    min-height: 3px;
    min-width: 50px;
    margin-left: 10px;
    margin-right: 20px;
}

.metric scale trough highlight {
    all: unset;
    background-color: #D35D6E;
    color: #000000;
    border-radius: 10px;
}

.metric scale trough {
    all: unset;
    background-color: #4e4e4e;
    border-radius: 50px;
    min-height: 3px;
    min-width: 50px;
    margin-left: 10px;
    margin-right: 20px;
}

.label-ram {
    font-size: large;
}

.music {
    border-radius: 2rem;
    padding-left: 10px;
    padding-right: 20px;
    color: white;
    background-color: rgba(15, 15, 15, 0.2);

}

.workspaces {
    border-radius: 2rem;
    padding-left: 2px;
    padding-right: 2px;
    background-color: rgba(15, 15, 15, 0.2);
}

.workspace-entry {
    min-width: 2rem;
    color: white;
}

.workspace-entry.current {
    margin: 6px;
    border-radius: 50%;
    color: black;
    background-color: rgb(255, 255, 255);
}
